<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.code.questionnaireSystem.mapper.AnswerMapper" >
  <resultMap id="BaseResultMap" type="com.code.questionnaireSystem.pojo.Answer" >
    <id column="answer_id" property="answerId" jdbcType="VARCHAR" />
    <result column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="subQuestion_id" property="subquestionId" jdbcType="VARCHAR" />
    <result column="option_id" property="optionId" jdbcType="VARCHAR" />
    <result column="participate_id" property="participateId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    answer_id, question_id, subQuestion_id, option_id, participate_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.code.questionnaireSystem.pojo.AnswerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from answer
    where answer_id = #{answerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from answer
    where answer_id = #{answerId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.code.questionnaireSystem.pojo.AnswerExample" >
    delete from answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.code.questionnaireSystem.pojo.Answer" >
    insert into answer (answer_id, question_id, subQuestion_id, 
      option_id, participate_id)
    values (#{answerId,jdbcType=VARCHAR}, #{questionId,jdbcType=VARCHAR}, #{subquestionId,jdbcType=VARCHAR}, 
      #{optionId,jdbcType=VARCHAR}, #{participateId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.code.questionnaireSystem.pojo.Answer" >
    insert into answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="answerId != null" >
        answer_id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="subquestionId != null" >
        subQuestion_id,
      </if>
      <if test="optionId != null" >
        option_id,
      </if>
      <if test="participateId != null" >
        participate_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="answerId != null" >
        #{answerId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="subquestionId != null" >
        #{subquestionId,jdbcType=VARCHAR},
      </if>
      <if test="optionId != null" >
        #{optionId,jdbcType=VARCHAR},
      </if>
      <if test="participateId != null" >
        #{participateId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.code.questionnaireSystem.pojo.AnswerExample" resultType="java.lang.Integer" >
    select count(*) from answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update answer
    <set >
      <if test="record.answerId != null" >
        answer_id = #{record.answerId,jdbcType=VARCHAR},
      </if>
      <if test="record.questionId != null" >
        question_id = #{record.questionId,jdbcType=VARCHAR},
      </if>
      <if test="record.subquestionId != null" >
        subQuestion_id = #{record.subquestionId,jdbcType=VARCHAR},
      </if>
      <if test="record.optionId != null" >
        option_id = #{record.optionId,jdbcType=VARCHAR},
      </if>
      <if test="record.participateId != null" >
        participate_id = #{record.participateId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update answer
    set answer_id = #{record.answerId,jdbcType=VARCHAR},
      question_id = #{record.questionId,jdbcType=VARCHAR},
      subQuestion_id = #{record.subquestionId,jdbcType=VARCHAR},
      option_id = #{record.optionId,jdbcType=VARCHAR},
      participate_id = #{record.participateId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.code.questionnaireSystem.pojo.Answer" >
    update answer
    <set >
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="subquestionId != null" >
        subQuestion_id = #{subquestionId,jdbcType=VARCHAR},
      </if>
      <if test="optionId != null" >
        option_id = #{optionId,jdbcType=VARCHAR},
      </if>
      <if test="participateId != null" >
        participate_id = #{participateId,jdbcType=VARCHAR},
      </if>
    </set>
    where answer_id = #{answerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.code.questionnaireSystem.pojo.Answer" >
    update answer
    set question_id = #{questionId,jdbcType=VARCHAR},
      subQuestion_id = #{subquestionId,jdbcType=VARCHAR},
      option_id = #{optionId,jdbcType=VARCHAR},
      participate_id = #{participateId,jdbcType=VARCHAR}
    where answer_id = #{answerId,jdbcType=VARCHAR}
  </update>
</mapper>