<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.code.questionnaireSystem.mapper.CustomParticipateAnswerMapper" >
<resultMap id="BaseResultMap" type="com.code.questionnaireSystem.pojo.ParticipateAnswer">
<result column="question_id" property="questionId" jdbcType="VARCHAR" />
<collection property="participateSubAnswers" javaType="ArrayList" ofType="com.code.questionnaireSystem.pojo.ParticipateSubAnswer">
<result column="subQuestion_id" property="subQuestionId" jdbcType="VARCHAR" />
<result column="option_id" property="optionId" jdbcType="VARCHAR" />
<result column="answerText" property="answerText" jdbcType="VARCHAR" />
</collection>
</resultMap>
<select id="getParticiPateAnswer" parameterType="java.util.Map" resultMap="BaseResultMap">
select a.question_id,a.subQuestion_id,a.option_id,a.answerText from answer a
WHERE a.participate_id=#{participateId} and a.surver_id=#{surverId}
group by a.question_id,a.subQuestion_id,a.option_id,a.answerText
</select>
</mapper>