<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.code.questionnaireSystem.mapper.ParticipateMapper" >
  <resultMap id="BaseResultMap" type="com.code.questionnaireSystem.pojo.Participate" >
    <id column="participate_id" property="participateId" jdbcType="VARCHAR" />
    <result column="participate_ip" property="participateIp" jdbcType="VARCHAR" />
    <result column="participate_device" property="participateDevice" jdbcType="VARCHAR" />
    <result column="participate_area" property="participateArea" jdbcType="VARCHAR" />
    <result column="participate_surverId" property="participateSurverid" jdbcType="VARCHAR" />
    <result column="participate_startTime" property="participateStarttime" jdbcType="TIMESTAMP" />
    <result column="participate_endTime" property="participateEndtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    participate_id, participate_ip, participate_device, participate_area, participate_surverId, 
    participate_startTime, participate_endTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.code.questionnaireSystem.pojo.ParticipateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from participate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from participate
    where participate_id = #{participateId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from participate
    where participate_id = #{participateId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.code.questionnaireSystem.pojo.ParticipateExample" >
    delete from participate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.code.questionnaireSystem.pojo.Participate" >
    insert into participate (participate_id, participate_ip, participate_device, 
      participate_area, participate_surverId, participate_startTime, 
      participate_endTime)
    values (#{participateId,jdbcType=VARCHAR}, #{participateIp,jdbcType=VARCHAR}, #{participateDevice,jdbcType=VARCHAR}, 
      #{participateArea,jdbcType=VARCHAR}, #{participateSurverid,jdbcType=VARCHAR}, #{participateStarttime,jdbcType=TIMESTAMP}, 
      #{participateEndtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.code.questionnaireSystem.pojo.Participate" >
    insert into participate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="participateId != null" >
        participate_id,
      </if>
      <if test="participateIp != null" >
        participate_ip,
      </if>
      <if test="participateDevice != null" >
        participate_device,
      </if>
      <if test="participateArea != null" >
        participate_area,
      </if>
      <if test="participateSurverid != null" >
        participate_surverId,
      </if>
      <if test="participateStarttime != null" >
        participate_startTime,
      </if>
      <if test="participateEndtime != null" >
        participate_endTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="participateId != null" >
        #{participateId,jdbcType=VARCHAR},
      </if>
      <if test="participateIp != null" >
        #{participateIp,jdbcType=VARCHAR},
      </if>
      <if test="participateDevice != null" >
        #{participateDevice,jdbcType=VARCHAR},
      </if>
      <if test="participateArea != null" >
        #{participateArea,jdbcType=VARCHAR},
      </if>
      <if test="participateSurverid != null" >
        #{participateSurverid,jdbcType=VARCHAR},
      </if>
      <if test="participateStarttime != null" >
        #{participateStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="participateEndtime != null" >
        #{participateEndtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.code.questionnaireSystem.pojo.ParticipateExample" resultType="java.lang.Integer" >
    select count(*) from participate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update participate
    <set >
      <if test="record.participateId != null" >
        participate_id = #{record.participateId,jdbcType=VARCHAR},
      </if>
      <if test="record.participateIp != null" >
        participate_ip = #{record.participateIp,jdbcType=VARCHAR},
      </if>
      <if test="record.participateDevice != null" >
        participate_device = #{record.participateDevice,jdbcType=VARCHAR},
      </if>
      <if test="record.participateArea != null" >
        participate_area = #{record.participateArea,jdbcType=VARCHAR},
      </if>
      <if test="record.participateSurverid != null" >
        participate_surverId = #{record.participateSurverid,jdbcType=VARCHAR},
      </if>
      <if test="record.participateStarttime != null" >
        participate_startTime = #{record.participateStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.participateEndtime != null" >
        participate_endTime = #{record.participateEndtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update participate
    set participate_id = #{record.participateId,jdbcType=VARCHAR},
      participate_ip = #{record.participateIp,jdbcType=VARCHAR},
      participate_device = #{record.participateDevice,jdbcType=VARCHAR},
      participate_area = #{record.participateArea,jdbcType=VARCHAR},
      participate_surverId = #{record.participateSurverid,jdbcType=VARCHAR},
      participate_startTime = #{record.participateStarttime,jdbcType=TIMESTAMP},
      participate_endTime = #{record.participateEndtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.code.questionnaireSystem.pojo.Participate" >
    update participate
    <set >
      <if test="participateIp != null" >
        participate_ip = #{participateIp,jdbcType=VARCHAR},
      </if>
      <if test="participateDevice != null" >
        participate_device = #{participateDevice,jdbcType=VARCHAR},
      </if>
      <if test="participateArea != null" >
        participate_area = #{participateArea,jdbcType=VARCHAR},
      </if>
      <if test="participateSurverid != null" >
        participate_surverId = #{participateSurverid,jdbcType=VARCHAR},
      </if>
      <if test="participateStarttime != null" >
        participate_startTime = #{participateStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="participateEndtime != null" >
        participate_endTime = #{participateEndtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where participate_id = #{participateId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.code.questionnaireSystem.pojo.Participate" >
    update participate
    set participate_ip = #{participateIp,jdbcType=VARCHAR},
      participate_device = #{participateDevice,jdbcType=VARCHAR},
      participate_area = #{participateArea,jdbcType=VARCHAR},
      participate_surverId = #{participateSurverid,jdbcType=VARCHAR},
      participate_startTime = #{participateStarttime,jdbcType=TIMESTAMP},
      participate_endTime = #{participateEndtime,jdbcType=TIMESTAMP}
    where participate_id = #{participateId,jdbcType=VARCHAR}
  </update>
</mapper>