<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.code.questionnaireSystem.mapper.QuestionOptionMapper" >
  <resultMap id="BaseResultMap" type="com.code.questionnaireSystem.pojo.QuestionOption" >
    <id column="option_id" property="optionId" jdbcType="VARCHAR" />
    <result column="option_content" property="optionContent" jdbcType="VARCHAR" />
    <result column="option_score" property="optionScore" jdbcType="VARCHAR" />
    <result column="subQuestion_id" property="subquestionId" jdbcType="VARCHAR" />
    <result column="question_id" property="questionId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    option_id, option_content, option_score, subQuestion_id, question_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.code.questionnaireSystem.pojo.QuestionOptionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from questionoption
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from questionoption
    where option_id = #{optionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from questionoption
    where option_id = #{optionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.code.questionnaireSystem.pojo.QuestionOptionExample" >
    delete from questionoption
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.code.questionnaireSystem.pojo.QuestionOption" >
    insert into questionoption (option_id, option_content, option_score, 
      subQuestion_id, question_id)
    values (#{optionId,jdbcType=VARCHAR}, #{optionContent,jdbcType=VARCHAR}, #{optionScore,jdbcType=VARCHAR}, 
      #{subquestionId,jdbcType=VARCHAR}, #{questionId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.code.questionnaireSystem.pojo.QuestionOption" >
    insert into questionoption
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="optionId != null" >
        option_id,
      </if>
      <if test="optionContent != null" >
        option_content,
      </if>
      <if test="optionScore != null" >
        option_score,
      </if>
      <if test="subquestionId != null" >
        subQuestion_id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="optionId != null" >
        #{optionId,jdbcType=VARCHAR},
      </if>
      <if test="optionContent != null" >
        #{optionContent,jdbcType=VARCHAR},
      </if>
      <if test="optionScore != null" >
        #{optionScore,jdbcType=VARCHAR},
      </if>
      <if test="subquestionId != null" >
        #{subquestionId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.code.questionnaireSystem.pojo.QuestionOptionExample" resultType="java.lang.Integer" >
    select count(*) from questionoption
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update questionoption
    <set >
      <if test="record.optionId != null" >
        option_id = #{record.optionId,jdbcType=VARCHAR},
      </if>
      <if test="record.optionContent != null" >
        option_content = #{record.optionContent,jdbcType=VARCHAR},
      </if>
      <if test="record.optionScore != null" >
        option_score = #{record.optionScore,jdbcType=VARCHAR},
      </if>
      <if test="record.subquestionId != null" >
        subQuestion_id = #{record.subquestionId,jdbcType=VARCHAR},
      </if>
      <if test="record.questionId != null" >
        question_id = #{record.questionId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update questionoption
    set option_id = #{record.optionId,jdbcType=VARCHAR},
      option_content = #{record.optionContent,jdbcType=VARCHAR},
      option_score = #{record.optionScore,jdbcType=VARCHAR},
      subQuestion_id = #{record.subquestionId,jdbcType=VARCHAR},
      question_id = #{record.questionId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.code.questionnaireSystem.pojo.QuestionOption" >
    update questionoption
    <set >
      <if test="optionContent != null" >
        option_content = #{optionContent,jdbcType=VARCHAR},
      </if>
      <if test="optionScore != null" >
        option_score = #{optionScore,jdbcType=VARCHAR},
      </if>
      <if test="subquestionId != null" >
        subQuestion_id = #{subquestionId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=VARCHAR},
      </if>
    </set>
    where option_id = #{optionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.code.questionnaireSystem.pojo.QuestionOption" >
    update questionoption
    set option_content = #{optionContent,jdbcType=VARCHAR},
      option_score = #{optionScore,jdbcType=VARCHAR},
      subQuestion_id = #{subquestionId,jdbcType=VARCHAR},
      question_id = #{questionId,jdbcType=VARCHAR}
    where option_id = #{optionId,jdbcType=VARCHAR}
  </update>
</mapper>