<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.code.questionnaireSystem.mapper.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.code.questionnaireSystem.pojo.Question" >
    <id column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="question_name" property="questionName" jdbcType="VARCHAR" />
    <result column="question_direction" property="questionDirection" jdbcType="VARCHAR" />
    <result column="question_need" property="questionNeed" jdbcType="VARCHAR" />
    <result column="queType_id" property="quetypeId" jdbcType="VARCHAR" />
    <result column="surver_id" property="surverId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    question_id, question_name, question_direction, question_need, queType_id, surver_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.code.questionnaireSystem.pojo.QuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from question
    where question_id = #{questionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from question
    where question_id = #{questionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.code.questionnaireSystem.pojo.QuestionExample" >
    delete from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.code.questionnaireSystem.pojo.Question" >
    insert into question (question_id, question_name, question_direction, 
      question_need, queType_id, surver_id
      )
    values (#{questionId,jdbcType=VARCHAR}, #{questionName,jdbcType=VARCHAR}, #{questionDirection,jdbcType=VARCHAR}, 
      #{questionNeed,jdbcType=VARCHAR}, #{quetypeId,jdbcType=VARCHAR}, #{surverId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.code.questionnaireSystem.pojo.Question" >
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="questionName != null" >
        question_name,
      </if>
      <if test="questionDirection != null" >
        question_direction,
      </if>
      <if test="questionNeed != null" >
        question_need,
      </if>
      <if test="quetypeId != null" >
        queType_id,
      </if>
      <if test="surverId != null" >
        surver_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="questionName != null" >
        #{questionName,jdbcType=VARCHAR},
      </if>
      <if test="questionDirection != null" >
        #{questionDirection,jdbcType=VARCHAR},
      </if>
      <if test="questionNeed != null" >
        #{questionNeed,jdbcType=VARCHAR},
      </if>
      <if test="quetypeId != null" >
        #{quetypeId,jdbcType=VARCHAR},
      </if>
      <if test="surverId != null" >
        #{surverId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.code.questionnaireSystem.pojo.QuestionExample" resultType="java.lang.Integer" >
    select count(*) from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update question
    <set >
      <if test="record.questionId != null" >
        question_id = #{record.questionId,jdbcType=VARCHAR},
      </if>
      <if test="record.questionName != null" >
        question_name = #{record.questionName,jdbcType=VARCHAR},
      </if>
      <if test="record.questionDirection != null" >
        question_direction = #{record.questionDirection,jdbcType=VARCHAR},
      </if>
      <if test="record.questionNeed != null" >
        question_need = #{record.questionNeed,jdbcType=VARCHAR},
      </if>
      <if test="record.quetypeId != null" >
        queType_id = #{record.quetypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.surverId != null" >
        surver_id = #{record.surverId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update question
    set question_id = #{record.questionId,jdbcType=VARCHAR},
      question_name = #{record.questionName,jdbcType=VARCHAR},
      question_direction = #{record.questionDirection,jdbcType=VARCHAR},
      question_need = #{record.questionNeed,jdbcType=VARCHAR},
      queType_id = #{record.quetypeId,jdbcType=VARCHAR},
      surver_id = #{record.surverId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.code.questionnaireSystem.pojo.Question" >
    update question
    <set >
      <if test="questionName != null" >
        question_name = #{questionName,jdbcType=VARCHAR},
      </if>
      <if test="questionDirection != null" >
        question_direction = #{questionDirection,jdbcType=VARCHAR},
      </if>
      <if test="questionNeed != null" >
        question_need = #{questionNeed,jdbcType=VARCHAR},
      </if>
      <if test="quetypeId != null" >
        queType_id = #{quetypeId,jdbcType=VARCHAR},
      </if>
      <if test="surverId != null" >
        surver_id = #{surverId,jdbcType=VARCHAR},
      </if>
    </set>
    where question_id = #{questionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.code.questionnaireSystem.pojo.Question" >
    update question
    set question_name = #{questionName,jdbcType=VARCHAR},
      question_direction = #{questionDirection,jdbcType=VARCHAR},
      question_need = #{questionNeed,jdbcType=VARCHAR},
      queType_id = #{quetypeId,jdbcType=VARCHAR},
      surver_id = #{surverId,jdbcType=VARCHAR}
    where question_id = #{questionId,jdbcType=VARCHAR}
  </update>
</mapper>